.subteam__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.team__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subteams__wrapper {
  margin: auto 0px;
}
