.subteam__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.team__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subteams__wrapper {
  position: relative;
  margin: auto 10px;
  &::before {
    content: "";
    width: 10px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 25%;
    left: -10%;
  }
}
