.header__wrapper {
  position: relative;
  &::before {
    content: "";
    width: 1px;
    height: 90%;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 20px;
  }
}
.team__header__wrapper {
  font-size: 0.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.line__wrapper {
  display: flex;
  align-items: flex-end;
  margin: auto 50px;
}
