.subdivision__wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.checkbox__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
